.header {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  color: antiquewhite;
  justify-content: center;
  border-bottom: 3px solid rgb(23, 49, 97);
}
